{
  "port": 5000,
  "command": "poll",
  "bot_name": "Open Poll Plus",
  "app_lang": "en",
  "app_lang_user_selectable": true,
  "app_allow_dm": false,
  "app_datetime_format": "YYYY-MM-DDTHH:mm:ssZ (ddd)",
  "use_response_url": true,
  "menu_at_the_end": false,
  "create_via_cmd_only": false,
  "add_number_emoji_to_choice": true,
  "add_number_emoji_to_choice_btn": true,
  "help_link": "https://github.com/polppol/openpollslack-i18n",
  "help_email": "https://github.com/polppol/openpollslack-i18n",
  "compact_ui": true,
  "show_divider": true,
  "show_help_link": true,
  "show_command_info": false,
  "true_anonymous": true,
  "client_id": "",
  "client_secret": "",
  "signing_secret": "",
  "state_secret": "CHANGE ME",
  "oauth_success": "https://yoururlhere/?oauth=success",
  "oauth_failure": "https://yoururlhere/?oauth=error",
  "support_url": "https://www.buymeacoffee.com/polppol",
  "mongo_url": "mongodb://localhost:27017",
  "mongo_db_name": "open_poll",
  "delete_data_on_poll_delete": true,
  "log_level_app": "debug",
  "log_level_bolt": "debug",
  "log_to_file": true,
  "log_dir": "logs",
  "schedule_limit_hrs": 11,
  "schedule_max_run": 365,
  "schedule_auto_delete_invalid_day": 30
}
